name: Node CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Setup ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install
      run: |
        yarn install
        yarn lock:check
    - name: Build
      run: yarn build
    - name: Lint
      run: yarn lint
    - name: Test
      run: |
        yarn test:coverage
        yarn report:coverage
    - name: Deploy
      run: yarn release
